name: RAG Ingestion Pipeline

on:
  workflow_dispatch:
  push:
    - rag/data/**
    - rag/ingestion/**
    - config/embeddings_config.yaml
env:
  AWS_REGION: eu-west-3
  S3_BUCKET: rag-vectorstore

jobs:
  ingest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4

      - name: SetUp Python
        uses: actions/setup-python@v5

      - name: Install dependencies
        run: |
          pip install -r requirements/ingestion.txt

      - name: Download embedding models
        run: |
          python models/download_models.py \
          --config config/embeddings_config.yaml
          --meta /models/embedding_meta.json

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::515966510087:role/github-actions-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Run ingestion
        run: |
          python rag/ingestion/ingest_documents.py

      - name: Upload vector DB to S3
        run: |
          VECTOR_DB_PATH=$(python -c "import yaml; config =yaml.safe_load(open('config/embeddings_config.yaml)); print(config['vector_store'])")
          aws s3 sync $VECTOR_DB_PATH s3://${S3_BUCKET}/vector_db/

  build-and-register:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Python SetUp
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Requirements
        run: |
          pip install -r requirements/model.txt

      - name: Download models
        run: |
          python models/download_models.py \
          --config config/model_config.yaml \
          --meta /models/models_meta.json

      - name: Build and Evaluate Model
        run: |
          python models/build_and_evaluate.py

      - name: Await Deployment Decision
        if: success()
        environment:
          name: model-promotion

  promote-model:
    needs: build-and-register
    runs-on: ubuntu-latest
    environment:
      name: model-promotion

    steps:

      - name: Checkout Sources
        uses: actions/checkout@v4

      - name: SetUp Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: pip install mlflow

      - name: Promote model to production
        run: python rag/models/promote_production_model.py

      - name: Restart RAG deployment
        run: |
          kubectl rollout restart deployment/rag-bot