name: RAG Model Pipeline

on:
  workflow_dispatch:
  push:
    paths:
      - rag_system/k8s/configMap.yaml

jobs:

  evaluate_model:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: rag_system

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          pip install mlflow pyyaml numpy torch transformers safetensors sentence-transformers langchain langchain-community langchain-huggingface langgraph chromadb


      - name: Run MLflow evaluation
        env:
          MODEL_CONFIG_PATH: config/model_config.yaml
        run: python /rag/models/build_and_evaluate.py

  wait_for_approval:
    needs: evaluate_model
    runs-on: ubuntu-latest
    environment:
      name: production  # <-- protected environment requires approval
    steps:
      - name: Manual approval step
        run: echo "Check MLflow metrics, then approve to continue."

  promote_and_deploy:
    needs: wait_for_approval
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: rag_system

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Python SetUp
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          pip install mlflow pyyaml

      - name: Promote model
        env:
          MODEL_CONFIG_PATH: config/model_config.yaml
        run: python /app/rag/models/promote_production.py

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Configure kubeconfig
        run: |
          kubectl config set-cluster rag-cluster \
            --server=${{ secrets.KUBE_API_SERVER }} \
            --insecure-skip-tls-verify=true
          kubectl config set-credentials github-actions \
            --token=${{ secrets.KUBE_TOKEN }}
          kubectl config set-context default \
            --cluster=rag-cluster \
            --user=github-actions
          kubectl config use-context default

      - name: Generate configMap
        run: |
          kubectl create configmap rag-model-config \
            --from-file=model_config.yaml=config/model_config.yaml \
            --dry-run=client -o yaml > configMap.yaml

      - name: Apply ConfigMap
        run: kubectl apply -f configMap.yaml

      - name: Redeploy API
        run: kubectl rollout restart deployment/rag-api
